<form id="frmAltaPelicula" name="frmAltaPelicula" method=post> 
  <input type="hidden" name="action" value="Pelicula::AgregarPelicula">	

  <table align="center" border="0" cellpadding="3" cellspacing="0" width="90%">


    <tr>
      <th colspan="4" align="center"> <b>Alta Pel&iacute;cula</b></th>
    </tr>

    <tr><td><br /></td></tr>

    <tr>
      <th align="right" width="35%">Nombre: </th>
      <td align="left"><input type="text" name="nombrePelicula" id="nombrePelicula" size="50" maxlength="150"></td>
    </tr>

    <tr>
      <th align="right" width="35%">G&eacute;nero: </th>
      <td align="left">
        <select name="genero" id="genero">
          <!-- START BLOCK : generoblock -->
                    <option value="{ge_key}">{genero}</option>
          <!-- END BLOCK : generoblock -->
        </select>
      </td>
    </tr>  

    <tr>
      <th align="right" width="35%">Director: </th>
      <td align="left">
        <select name="director" id="director">
          <!-- START BLOCK : directorblock -->
                    <option value="{di_key}">{director}</option>
          <!-- END BLOCK : directorblock -->
        </select>
      </td>
    </tr> 

    <tr>
      <th align="right" width="35%">Duraci&oacute;n: </th>
      <td align="left"><input type="text" name="duracion" id="duracion"></td>
    </tr>

    <tr>
      <th align="right" width="35%">Fecha de estreno: </th>
      <td align="left"><input type="date" name="fechaEstreno" id="fechaEstreno"></td>
    </tr>


    <tr><td><br /></td></tr>
    <tr>
      <td colspan="2" align="center">
        <input type="button" onclick="location.href='index.php?action=Ingreso::main'" value=" Volver ">
        <input type="submit" value=" Guardar ">
      </td>
    </tr>
    <tr><td><br /></td></tr>

  </table>
</form>