<center>
<table align="center" border="1" cellpadding="3" cellspacing="0" width="90%">
	<tr>
		<th colspan="5" align="center"> <b>Listado de Peliculas</b></th>
	</tr>
	<tr>
		<th align="center" width="30%">Nombre</th>
		<th align="center" width="10%">Género</th>
		<th align="center" width="10%">Director</th>
		<th align="center" width="10%">Duración</th>
		<th align="center" width="40%">Actores</th>
	</tr>	

	<tr>
		<td>El Señor de los Anillos: las dos torres</td>
		<td>Acción Fantasía</td>
		<td>Peter Jackson</td>
		<td>223 minutos</td>
		<td>Elijah Wood, Ian McKellen, Liv Tyler, Viggo Mortensen, Sean Astin</td>
	</tr>

</table>
</center>